"*":
  core:
    autoHideMenuBar: true
    themes: [
      "isotope-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Fira Code"
    fontSize: 9
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "vim-mode": {}
  welcome:
    showOnStartup: false
